:root {
    --bg-verde:#00BF63;
    --bg-verde:#7ED957;
    --bg-blanco:#EEEEEE;
}

#container {
    width: 100%;
}

.encabezado {
    display: flex;
    flex-direction: row;
}

.linea {
    display: flex;
    margin: 5% 27% 2% 10%;
    font-size: 80px;
    font-family: "Arimo", sans-serif;
}

.linea1 {
    float:right;
    font-size: 40px;
    margin: 6% 9% 0 9%;
    font-family: "Arimo", sans-serif;
}

.imagen { 
    position: absolute;
    width: 100%;
}

.eslogan {
    position: relative;
    font-size: 75px;
    padding-left: 6%;
    color: #EEEEEE;
    background-color:#00BF63;
    width: 500px;
    margin: 19% 0 0 1%;
    font-family: "Arimo", sans-serif;
}

.eslogan2 {
    position: relative;
    font-size: 75px;
    padding-left: 5%;
    color: #EEEEEE;
    background-color:#00BF63;
    width: 980px;
    margin: 0.60% 0 0 2%;
    font-family: "Arimo", sans-serif;
}

.eslogan3 {
    position: relative;
    font-size: 75px;
    padding-left: 5%;
    padding-right: 12.4%;
    color: #EEEEEE;
    background-color:#00BF63;
    width: 710px;
    margin: 0.60% 0 0 2%;
    font-family: "Arimo", sans-serif;
} 

.eslogan4 {
    position: relative;
    font-size: 39px;
    padding-left: 7%;
    color: #EEEEEE;
    background-color: black;
    width: 800px;
    margin: 5% 0 1% 2%;
    font-family: "Arimo", sans-serif;
}

.eslogan5 {
    position: relative;
    font-size: 39px;
    padding-left: 6%;
    color: #EEEEEE;
    background-color: black;
    width: 550px;
    margin: 0 3%;
    font-family: "Arimo", sans-serif;
}

.contenido {
    position: relative;
    font-size: 80px;
    width: 80%;
    margin: 21% 0 1% 8%;
    font-family: "Arimo", sans-serif;
}

.contenido2 {
    position: relative;
    font-size: 39px;
    margin: 0 0 3% 8%;
    font-family: "Arimo", sans-serif;
}

.imagenes {
    margin: 0 0 0 8%;
    display: flex;
    gap: 8%;
}

.parrafos {
    display: flex;
    flex-direction: row;
    font-family: "Arimo", sans-serif;
}

.parrafo {
    display: flex;
    font-size: 50px;
    margin-left: 8%;
}

.parrafo2 {
    display: flex;
    font-size: 50px;
    margin-left: 18%;
}

.parrafo3 {
    display: flex;
    font-size: 50px;
    margin-left: 10.5%;
}

.parrafos2 {
    display: flex;
    flex-direction: row;
    font-family: "Arimo", sans-serif;
}

.parrafo4 {
    display: flex;
    font-size: 30px;
    margin-left: 9%;
    width: 20%;
}

.parrafo5 {
    display: flex;
    font-size: 28px;
    margin-left: 9%;
    width: 23%;
}

.parrafo6 {
    display: flex;
    font-size: 30px;
    margin-left: 6.4%;
    width: 23%;
}

.piedepagina {
    display: flex;
    flex-direction: row;
    font-size: 39px;
    background-color: #00BF63;
    color: #EEEEEE;
    padding: 0 0 0 8%;
    margin:  3% 2% 0 2%;
    gap: 15%;
    font-family: "Arimo", sans-serif;
}
